@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

/**
 * Global styles
 */

body {
  font-family: Roboto, sans-serif;
}

/**
 * Tachyons-style Utility classes
 */

.w2pt5 { width: 3rem; }
.flex-grow-1 { flex-grow: 1; }
.top-100 { top: 100%; }
.bottom-100 { bottom: 100%; }
.left-100 { left: 100%; }
.right-100 { right: 100%; }
.top-50 { top: 50%; }
.bottom-50 { bottom: 50%; }
.left-50 { left: 50%; }
.right-50 { right: 50%; }

/**
 * Basscss utility classes
 */
.bg-darken-1 { background-color: rgba(0, 0, 0, .0625) }
.bg-darken-2 { background-color: rgba(0, 0, 0, .125) }
.bg-darken-3 { background-color: rgba(0, 0, 0, .25) }
.bg-darken-4 { background-color: rgba(0, 0, 0, .5) }

.bg-lighten-1 { background-color: rgba(255, 255, 255, .0625) }
.bg-lighten-2 { background-color: rgba(255, 255, 255, .125) }
.bg-lighten-3 { background-color: rgba(255, 255, 255, .25) }
.bg-lighten-4 { background-color: rgba(255, 255, 255, .5) }

/**
 * Tachyons-style classes with !important
 *
 * spacing scale for reference:
 *   - 0
 *   - 25rem
 *   - 5rem
 *   - 1rem
 *   - 2rem
 *   - 4rem
 *   - 8rem
 *   - 16rem
 */

.w-100--i { width: 100% !important; }
.flex--i { display: flex !important; }
.db--i { display: block !important; }
.pa0--i { padding: 0 !important; }
.pt3--i { padding-top: 1rem !important; }
.pb2--i { padding-bottom: .5rem !important; }
.pl0--i { padding-left: 0 !important; }

/**
 * Animate.css overrides
 */

@keyframes disappearLastly {
  100% { visibility: hidden; }
}

.animated {
  animation-duration: .450s !important;
}

.fadeOut {
  animation-name: fadeOut, disappearLastly !important;
}
