/**
 * Global styles
 */

body { font-family: Roboto, sans-serif; }
a { color: #00838F; }

/**
 * Tachyons-style Utility classes
 */

.white--i { color: #fff !important; }
.pr3pt5 { padding-right: 1.33333rem; }
.w2pt5 { width: 3rem; }
.flex-grow-1 { flex-grow: 1; }
.top-100 { top: 100%; }
.bottom-100 { bottom: 100%; }
.left-100 { left: 100%; }
.right-100 { right: 100%; }
.top-50 { top: 50%; }
.bottom-50 { bottom: 50%; }
.left-50 { left: 50%; }
.right-50 { right: 50%; }

/**
 * Tachyons-style classes with !important
 *
 * spacing scale for reference:
 *   - 0
 *   - 25rem
 *   - 5rem
 *   - 1rem
 *   - 2rem
 *   - 4rem
 *   - 8rem
 *   - 16rem
 */

.w-100--i { width: 100% !important; }
.flex--i { display: flex !important; }
.db--i { display: block !important; }
.pa0--i { padding: 0 !important; }
.pt3--i { padding-top: 1rem !important; }
.pb2--i { padding-bottom: .5rem !important; }
.pl0--i { padding-left: 0 !important; }

.will-change-opacity { transform: translateZ(0); will-change: opacity; }
.will-change-contents { transform: translateZ(0); will-change: contents; }
.will-change-transform { transform: translateZ(0); will-change: transform; }
